.container {
  text-align: center;
}

#timeout {
  width: 200px;
  height: 20px;
}

#start {
  width: 150px;
  height: 30px;
  background-color: darkblue;
  color: white;
}

#clicked, #red_clicked, #grey_clicked {
  padding-right: 30px;
}
